<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer un utilisateur</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/create-users">Add users</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form action="/create-users" method="post">
            <section>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </section>
            <button type="submit">Ajouter un utilisateur</button>
        </form>
    </main>
</body>
</html>